@font-face {
  font-family: "Comic_CAT";
  src: url("/fonts/Comic_CAT.otf");
}

@font-face {
  font-family: "AvertaDemoPE";
  src: url("/fonts/AvertaDemoPE.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1024px;
}

hr {
  margin: 2rem 0 0 0;
  background: #e3b152;
  border: none;
  height: 2px;
}

section {
  overflow: auto;
}
