.header {
  background: #e3b152;
  color: #36240e;
  padding: 1rem 0;
}

.mobile_logo {
  display: none;
}

.navBar {
  list-style: none;
  padding: 0;
  margin: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1320px;
  font-family: Comic_CAT;
}

.navBar ul {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navBar li {
  padding: 0 1rem;
  font-size: 1.25rem;
}

.navBar li h1 {
  padding: 0 1rem;
  font-size: 1.25rem;
  margin: 0;
}

.menu_button {
  display: none;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .logo {
    display: none;
  }

  .mobile_logo {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: max-content;
    height: max-content;
    margin: 0 auto;
  }

  .menu_button {
    display: block;
    cursor: pointer;
  }

  .navBar {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    padding: 0 1rem;
    font-family: Comic_CAT;
  }

  .navBar ul {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background: #e3b152;
    top: 69px;
    padding: 1rem 0;
    left: -100%;
    transition: left 0.25s;
  }

  .navBar li {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
  }

  .navBar li h1 {
    padding: 0 1rem;
    font-size: 1.25rem;
    margin: 0;
  }
}
